<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
</head>
<body style="background-color: rgb(68, 143, 91);">

	<b> Mi familia: </b> <br>
{{ familia_1.nombre }} {{ familia_1.apellido }} {{ familia_1.nacimiento}} {{ familia_1.edad }} <br>
{{ familia_2.nombre }} {{ familia_2.apellido }} {{ familia_2.nacimiento }} {{ familia_2.edad }} <br>
{{ familia_3.nombre }} {{ familia_3.apellido }} {{ familia_3.nacimiento }} {{ familia_3.edad }}
</body>
</html>